h2 {
  color: #5e5d52;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color: #5e5d52;
  font-size: 1em;
  padding:12px 15px 12px 15px;
  border-bottom:1px solid #1d96b2;
}

tbody tr:nth-child(even){
  background-color: #efefee;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #1d96b2;
}

thead th {
  background-color: #1d96b2;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  padding-left: 15px;
}

tbody tr td:first-child {
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #5e5d52;
  font-size: 14px;
  padding-left: 10px;
}

a {
  color: #1d96b2;
}
